@page
@model HospiEnCasa.App.Frontend.Pages.Medico.CrearModel
@{
}
<h1> Nuevo Medico</h1>

<form method="post">

    <div class="form-group">
        <label asp-for="medic.Nombre"></label>
        <input asp-for="medic.Nombre" class="form-control" required="required">
    </div>

    <div class="form-group">
        <label asp-for="medic.Apellidos"></label>
        <input asp-for="medic.Apellidos" class="form-control" required="required">
    </div>

    <div class="form-group">
        <label asp-for="medic.NumeroTelefono"></label>
        <input asp-for="medic.NumeroTelefono" class="form-control" required="required">
    </div>

    <div class="form-group">
        <label asp-for="medic.Codigo"></label>
        <input asp-for="medic.Codigo" class="form-control" required="required">
    </div>

    <div class="form-group">
        <label asp-for="medic.Registro_Rethus"></label>
        <input asp-for="medic.Registro_Rethus" class="form-control" required="required">
    </div>

    <div class="form-group">
        <label asp-for="medic.Especialidad"></label>
        <input asp-for="medic.Especialidad" class="form-control" required="required">
    </div>

    <select name="Genero">
        <option value="Masculino">Value 1</option>
        <option value="Femenino" selected>Value 2</option>
    </select>

    <button type="submit" class="btn btn-primary">Crear</button>

    


</form>
