@page
@model HospiEnCasa.App.Frontend.Pages.Medico.eliminarModel
@{
}
<h1> Eliminar Medico</h1>

<form method="post">

    <div class="form-group">
        <label asp-for="medico.Nombre"></label>
        <input asp-for="medico.Nombre" class="form-control" required="required">
    </div>

    <div class="form-group">
        <label asp-for="medico.Apellidos"></label>
        <input asp-for="medico.Apellidos" class="form-control" required="required">
    </div>

    <div class="form-group">
        <label asp-for="medico.NumeroTelefono"></label>
        <input asp-for="medico.NumeroTelefono" class="form-control" required="required">
    </div>

    <div class="form-group">
        <label asp-for="medico.Codigo"></label>
        <input asp-for="medico.Codigo" class="form-control" required="required">
    </div>

    <div class="form-group">
        <label asp-for="medico.Registro_Rethus"></label>
        <input asp-for="medico.Registro_Rethus" class="form-control" required="required">
    </div>

    <div class="form-group">
        <label asp-for="medico.Especialidad"></label>
        <input asp-for="medico.Especialidad" class="form-control" required="required">
    </div>

    <select name="Genero">
        <option value="Masculino">Value 1</option>
        <option value="Femenino" selected>Value 2</option>
    </select>

    <button type="submit" class="btn btn-primary">Eliminar</button>

</form>